<h1>Add Movie </h1>

<form action="http://localhost:3000/create_movie">
  <label for="title"> Title: </label>
  <input id="title" type="text" name="movie_title">
  <label for="year"> Year: </label>
  <input id="year" type="text" name="movie_year">
  <label for="duration"> Duration: </label>
  <input id="duration" type="text" name="movie_duration">
  <label for="description"> Description: </label>
  <input id="description" type="text" name="movie_description">
  <label for="director"> Director ID: </label>
  <input id="director" type="text" name="movie_director_id">
  <label for="image_url"> Image url: </label>
  <input id="image_url" type="text" name="movie_image_url">
<button>Update Movie</button>
</form>
